.c-primary {
  color: #f7910b;
}

.c-secondary {
  color: #7a7c80;
}

.weather-card-v-separator {
  border-right: 1px solid #f7910b;
}

.weather-card-h-separator {
  border-color: #f7910b;
}

.weather-card {
  border: none;
  max-width: 160px;
  margin: auto;
  text-align: center;
}

.primary-button,
.primary-button:focus {
  width: 25%;
  background-color: #f7910b;
  color: white;
  border: 1px solid #f7910b;
}

.primary-button:hover {
  background-color: white !important;
  color: #f7910b !important;
  border: 1px solid #f7910b !important;
}